.contact-2 {
  position: absolute;
  height: 807px;
  left: 0px;
  right: 2px;
  background-color: #252b42;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px 0px;

  position: absolute;
  width: 1050px;
  height: 1202px;
  left: calc(50% - 1050px / 2);
  top: 0px;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px 0px;

  position: static;
  width: 1052px;
  height: 737px;
  left: calc(50% - 1052px / 2);
  top: 5px;

  /* Inside Auto Layout */

  flex: none;
  order: 1;
  align-self: center;
  flex-grow: 0;
  margin: 10px 0px;
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;

  position: static;
  width: 1052px;
  height: 637px;
  left: calc(50% - 1052px / 2);
  top: 50px;

  /* Inside Auto Layout */

  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 0px;
}

.card-item {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  background-color: #252b42;

  position: static;
  width: 1052px;
  height: 637px;
  left: calc(50% - 1052px / 2);
  top: 0px;

  /* Inside Auto Layout */

  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 30px 0px;
}

.container-form {
  display: flex;
  flex-direction: column;
  padding: 40px 50px;

  width: 688px;
  height: 637px;
  margin-left: 180px;
  background: #252b42;

  /* Inside Auto Layout */
}

h2 {
  position: static;
  width: 579px;
  height: 50px;
  top: 40px;

  /* h2 */

  font-family: Martel;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 50px;

  /* identical to box height, or 125% */

  letter-spacing: 0.2px;

  /* text-color */

  color: #252b42;
}

form {
  background-color: floralwhite;
  border: 2px solid grey;
  border-radius: 10px;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;

  position: static;
  width: 1048px;
  height: 315px;
  left: calc(50% - 1048px / 2 - 1px);
  top: 50px;

  /* Inside Auto Layout */

  flex: none;
  order: 0;
  align-self: flex-start;
  flex-grow: 0;
  margin: 50px 0px;
}

.col-md-7 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 50px 0px;

  position: static;
  width: 602px;
  height: 315px;
  left: calc(50% - 602px / 2 - 223px);
  top: 0px;

  /* Inside Auto Layout */

  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 30px;
}
h2 {
  position: static;
  width: 456px;
  height: 100px;
  left: 0px;
  top: 50px;

  /* h2 */

  font-family: Martel;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 50px;
  /* or 125% */

  letter-spacing: 0.2px;

  /* light-text-color */

  color: #ffffff;

  /* Inside Auto Layout */

  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 15px 0px;
}
p {
  position: static;
  width: 415px;
  height: 100px;
  left: 0px;
  top: 165px;

  /* paragraph */

  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  /* or 143% */

  letter-spacing: 0.2px;

  /* light-text-color */

  color: #ffffff;

  /* Inside Auto Layout */

  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 15px 0px;
}

.col-md-5 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 0px;
  background-color: floralwhite;

  position: static;
  width: 416px;
  height: 269.1px;
  left: calc(50% - 416px / 2 + 316px);
  top: 22.95px;

  /* Inside Auto Layout */

  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 0px 30px;
}
